.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
.parent-container {
  max-height: 500vh;
  overflow: hidden;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0 !important;
}
